<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Noted - Admin API Sandbox</title>

    <link rel="stylesheet" href="/login-register/login-style.css">
    <script src="/login-register/login-admin-script.js" defer></script>
</head>
<body>

<h1>Welcome to Noted</h1>
<hr>

<div class="api-box">
    <form id="admin-login-form">
        <label>Admin Login:</label>
        <input type="text" id="login-username" required
               pattern="[a-z]{3,20}"
               title="Login must be between 3 and 20 lowercase letters only.">

        <label>Password:</label>
        <input type="password" id="login-password" required
               minlength="5"
               title="Password must be at least 5 characters long.">

        <button type="submit">Execute Admin Login</button>
    </form>
    <p id="login-message" class="message"></p>
</div>

</body>
</html>